.footer{
    
    /* background: linear-gradient(to bottom right, #66ff99 0%, #ffffff 100%);
    color:blanchedalmond;
   
    text-align: center;
    z-index: 5; */
   
}

.footer_id{
    text-align: center;
    width: 100%;
    background: linear-gradient(0.40turn, #000000a7 25%, #c0c0c01c, #0000009f 70%);
    padding: 10px 0px;
    border-radius: 10px;
   
}
.footer_home{
    text-align: center;
    width: 100%;
   padding: 10px 0px;
   background: linear-gradient(0.40turn, #000000a7 25%, #c0c0c01c, #0000009f 70%);
    border-radius: 10px;
   
    
  
    

}

 span{
    /* background: linear-gradient(to bottom right, #dbe7df00 0%, #dbe1db00 100%);
    color: rgba(59, 230, 24, 0.945); */


background-image: linear-gradient(to right, rgb(71, 174, 243), rgb(38, 197, 38),rgb(250, 253, 86));

background-clip: text;
-webkit-background-clip: text;
color: transparent;

background-size: 400%;
background-position: -200%;

    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
   animation: animatedText 6s infinite alternate-reverse;
}

@keyframes animatedText{
from{
    background-position: 0%;
    }
to{
background-position: 200%;
}
}

/* @keyframes textclip {
    0% {
        background-size: 1000%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
} */
    
   


   
