.braiding_project{
    display: grid;
    /* flex-wrap: wrap; */
    /* grid-column: row; */
    /* grid-column: 2; */
    /* align-items: flex-start; */
    grid-template-columns: repeat(1, 600px);
 
   /* margin-top: 100px; */
   justify-content: center;
}
.fetch{
    
    min-height: 250px;
    min-width: 250px;

    flex-grow: 1;
    /* max-height: 350px; */
}

.fetch img{
    
    width: 100%;
    height: 70%;
}

.fetch img:hover{
    border: 1px solid yellow;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    
   
}
.project_1{
    
    min-height: 250px;
    min-width: 250px;

    flex-grow: 1;
    /* max-height: 350px; */
}

.project_1 img{
    
    width: 100%;
    height: 70%;
}

.project_1 img:hover{
    border: 1px solid yellow;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    
   
}



.todo{
    
    min-height: 250px;
    min-width: 250px;

    flex-grow: 1;
    /* max-height: 350px; */
}

.todo img{
    
    width: 100%;
    height: 70%;
}

.todo img:hover{
    border: 1px solid yellow;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    
   
}


/* .project_4{
    margin-top: 50px;
    min-height: 150px;
    min-width: 150px;
    flex-grow: 1;
} */

@media (max-width: 950px){
    .braiding_project{
        display: grid;
        /* flex-wrap: wrap; */
        /* grid-column: row; */
        /* grid-column: 2; */
        /* align-items: flex-start; */
        grid-template-columns: repeat(1, auto);
    }
}